{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}
        net.mikera/core.matrix {:mvn/version "0.62.0"}
        clojure-term-colors/clojure-term-colors {:mvn/version "0.1.0"}
        random-seed/random-seed {:mvn/version "1.0.0"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:uberjar {:replace-deps  {com.github.seancorfield/depstar  {:mvn/version "2.0.193"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args  {:jar "target/game.jar"
                                  :aot true
                                  :main-class four-nations.core}}
           :run {:main-opts ["-m" "four-nations.core"]
                 :extra-paths ["resources"]}
           :map-gen {:main-opts ["-m" "four-nations.model.map"]
                     :extra-paths ["resources"]}
           :nrepl {:extra-deps  {nrepl/nrepl  {:mvn/version "RELEASE"}
                                 cider/cider-nrepl {:mvn/version "0.22.4"}
                                 cider/piggieback {:mvn/version "0.3.8"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--interactive"]
                   :extra-paths ["test" "dev" "resources"]}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
