[{:name :gold-vein
  :display-name "Gold Vein"
  :symbol "$"
  :spawning {:chance 0.01
             :attributes {:terrain-types #{:land :mountain}}}
  :image "images/resources/gold.png"}
 {:name :oak-tree
  :display-name "Oak Tree"
  :symbol "T"
  :spawning {:chance 0.30
             :attributes {:terrain-types #{:land}
                          :biomes #{:plains}}}
  :image "images/resources/oak-tree.png"}
 {:name :fir-tree
  :display-name "Fir Tree"
  :symbol "F"
  :spawning {:chance 0.90
             :attributes {:terrain-types #{:land}
                          :biomes #{:forest}}}
  :image "images/resources/fir-tree.png"}
 {:name :oil-deposit
  :display-name "Oil Deposit"
  :symbol "O"
  :spawning {:chance 0.005
             :attributes {:terrain-types #{:water}}}
  :image "images/resources/oil.png"}]
