{:forest {:land "images/tiles/dark-grass.png"
          :water :water
          :coast "images/tiles/coast.png"}
 :plains {:land :normal-grass
          :water :water
          :coast "images/tiles/coast.png"}
 :desert {:land :sand
          :water :water
          :coast "images/tiles/coast.png"}
 :tundra {:land "images/tiles/ice.png"
          :water :water
          :coast "images/tiles/coast.png"}}
